@model ModernRecrut.MVC.Models.Fichier

@{
    ViewData["Title"] = "Create";
}

<h1>Téléchargement Document</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Documents" asp-action="Create">
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" asp-items="ViewBag.Type" class="form-control" >
                        <option value="">-- Sélectionner un type de document --</option>
                </select> <br />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div> <br />
            <div class="form-group">
                <div class="col-md-10">
                    <p>Téléchargez un fichier (PDF ou WORD) :</p>
                    <input asp-for="DocIFormFile" type="file" /><br />
                    <span asp-validation-for="DocIFormFile" class="text-danger"></span>
                </div>
            </div> <br/>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Télécharger" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Returner à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
